#NDSU_logo {
    float: left;
    height: 200px;
    width: auto;
    border-radius: 20px;
}

#MainTable {
    border-style: dotted;
    border-color: black;
    padding: 200px;
    color: red;
    text-align: center;
}

progress {
    width: 100%;
}