#NDSU_logo {
    float: left;
    height: 200px;
    width: auto;
    border-radius: 20px;
}

#MainTable {
    border-style: dotted;
    border-color: black;
    padding: 200px;
    color: red;
    text-align: center;
}

body {
    font-size: 10px;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
    table-layout: fixed;
    /* added to ensure uniform column widths */
}

th,
td {
    text-align: left;
    padding: 8px;
    border: 1px solid black;
    width: 20%;
    /* Set the column width to 20% */
}

th {
    background-color: #ccc;
}