{% load static %}
<script src="{% static '/mainApp/js/main.js' %}"></script>
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>RDC Creations</title>
    <link href="{% static 'mainApp/CSS/style.css'%}" rel="stylesheet">
  </head>
  <body>
    <!-- Optional JavaScript -->
   
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    
    <div class="container">
      <div class="row">
        <img id="NDSU_logo" src="{%static 'mainApp/images/NDSU_logo.png'%}" alt="NDSU_logo">
      </div>

      <div class="row justify-content-md-center">
        <table id="MainTable" class="table">
          {% if Order %}
            <table>
              <tr>
                <th>OrderNumber</th>
                <th>Progress    </th>
                <th>Remaining Time</th>
              </tr>
              {% for o in Order %}
              {% csrf_token %}
                {% if not o.isComplete %}
                
                  <tr>
                    <td>{{ o.order_number }}</td>
                    <td>
                      <div class="progress">
                        <div class="progress-bar" id="myProgressBar{{o.order_id}}" role="progressbar" style="width: 100%;" aria-valuemin="0" aria-valuemax="100">                      </div>
                    </td>
                    <td id="timeLeft{{o.order_id}}"></td>
                  </tr>

                <script>
                  var order{{o.order_id}} = {
                    start_time: new Date('{{o.start_time.isoformat}}').getTime(),
                    total_time: {{o.meal.cook_time}},
                    end_time: new Date('{{o.est_end_time.isoformat}}').getTime()
                }
                
                
                function timeRemaining{{o.order_id}}(endTime){
                    remainingTime = endTime - (Date.now() - 18000000);
                    remainingSeconds = Math.floor(remainingTime / 1000);
                    if(remainingSeconds <= -180 ){
                        csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
                        fetch('{%url 'index'%}', {
                        method: 'POST',
                        headers: {
                          'Content-Type': 'application/json; charset=UTF-8',
                          'X-CSRFToken': csrftoken
                        },
                        body: JSON.stringify({'order_id': {{o.order_id}}})
                      })
                      location.reload();
                    }
                      
                    return remainingSeconds
                }
                  function updateTimer{{o.order_id}}() {
                    document.getElementById("timeLeft{{o.order_id}}").innerHTML = timeRemaining{{o.order_id}}(order{{o.order_id}}.end_time) + ' seconds';
                  }

                  function updateProgressBar{{o.order_id}}(endTime, totalTime) {
                    totalTime *= 1000;
                    console.log("order number-----" + {{o.order_id}});
                    console.log("end time-----" + endTime );
                    console.log("now----" + (Date.now() - 18000000));
                    console.log("top----" + (endTime - (Date.now() - 18000000)));
                    console.log("bottom-------" + totalTime);
                    console.log("percent------"  + (Math.floor(((endTime - (Date.now()- 18000000))  / (totalTime))) * 100));
                    
                    var percent = 100 - Math.floor(((endTime - (Date.now()- 18000000))  / (totalTime)) * 100);
                    var theBar = document.getElementById("myProgressBar{{o.order_id}}");
                    var newWidth = percent + "%";
                    theBar.style.width = newWidth;

                    {% comment %} var progressBarText = document.getElementById("myProgressBarText{{o.order_id}}");
                    if (!progressBarText) {
                        progressBarText = document.createElement("span");
                        progressBarText.id = "myProgressBarText{{o.order_id}}";
                        theBar.parentNode.insertBefore(progressBarText, theBar.nextSibling);
                    }
                    progressBarText.innerHTML = percent + "%"; {% endcomment %}
                }
                
                  
                  function updateAll{{o.order_id}}() {
                    updateTimer{{o.order_id}}();                    
                    updateProgressBar{{o.order_id}}(order{{o.order_id}}.end_time, order{{o.order_id}}.total_time);
                  }

                  updateAll{{o.order_id}}(); // update the timer immediately
                  setInterval(function() {updateAll{{o.order_id}}()}, 1000); // update the timer every second

                  {% endif %}
                </script>
              {% endfor %}
            </table>
          {% else %}
              <script>
                function loadAd() {
                  var xhttp = new XMLHttpRequest();
                  xhttp.onreadystatechange = function() {
                      if (this.readyState == 4 && this.status == 200) {
                          document.body.innerHTML = this.responseText;
                      }
                  };
                  xhttp.open("GET", "{% url 'advertisements' %}", true);
                  xhttp.send();
              }
              loadAd()
              
              </script>
          {% endif %}

      </div>

      <div class="row">
        <p>
          <a href="{%url 'advertisements'%}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">View Data</a>
          <a href="http://127.0.0.1:8000/admin/" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">To Admin Site</a>
          <a href="http://127.0.0.1:8000/employee/" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">To Employee Site</a>
        </p>
      </div>

    </div>
    <script>
      function refreshPage(){
        console.log("refreshing");
        location.reload();
      }
    </script>

</body> 
</html>

