{% load static %}
<script src="{% static '/mainApp/js/main.js' %}"></script>
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>RDC Creations</title>
    <link href="{% static 'mainApp/CSS/style.css'%}" rel="stylesheet">
  </head>
  <body>
    <!-- Optional JavaScript -->
   
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    
    <div class="container">
      <div class="row">
        <img id="NDSU_logo" src="{%static 'mainApp/images/NDSU_logo.png'%}" alt="NDSU_logo">
      </div>

      <div class="row justify-content-md-center">
        <table id="MainTable" class="table">
          {% if Order %}
            <table>
              <tr>
                <th>OrderNumber</th>
                <th>Progress    </th>
                <th>Remaining Time</th>
              </tr>
              {% for o in Order %}
                {% if not o.isComplete %}
                
                  <tr>
                    <td>{{ o.order_number }}</td>
                    <td id="timeLeft"></td>
                    <td>
                      <div class="progress">
                        {% comment %} <div class="progress-bar" id="myProgressBar" role="progressbar" style="width: getProgressPercentage({{o.start_time}}, {{o.est_end_time}}) ;" aria-valuenow="getProgressPercentage({{o.start_time}}, {{o.est_end_time}})" aria-valuemin="0" aria-valuemax="100"> getProgressPercentage({{o.start_time}}, {{o.est_end_time}})</div> {% endcomment %}
                      </div>
                    </td>
                  </tr>
                  <script>
                    var order = {
                      start_time: Date.parse('{{ o.start_time }}'),
                      est_end_time: Date.parse('{{ o.est_end_time }}'),
                      total_time: 0,
                      elapsed_time: 0
                    };
                    
                    console.log(order.start_time.toString());
  
                    order.total_time = '{{o.meal.cook_time}}';
                    order.total_time *= 1000;
  
                    var current = Date.now();
                    const currentDate = new Date(current);
                    const startDate = new Date(order.start_time);
                    order.elapsed_time = currentDate.getTime() - startDate.getTime();
                    
                    function timeLeft(total, elapsed) {
                      var remainingTimeMs = total - elapsed;
                      var remainingSeconds = Math.floor(remainingTimeMs / 1000);
                      var remainingMinutes = Math.floor(remainingSeconds / 60);
                      var remainingHours = Math.floor(remainingMinutes / 60);
                      var remainingDays = Math.floor(remainingHours / 24);
              
                      // format the remaining time as "D days H hours M minutes"
                      var remainingTimeString = "";
                      if (remainingDays > 0) {
                        remainingTimeString += (remainingDays + " days ");
                      }
                      if (remainingHours > 0) {
                        remainingTimeString += (remainingHours % 24 + " hours ");
                      }
                      if (remainingMinutes > 0) {
                        remainingTimeString += (remainingMinutes % 60 + " minutes ");
                      }
                      if (remainingSeconds > 0) {
                        remainingTimeString += (remainingSeconds % 60 + " seconds");
                      }
                      console.log(remainingTimeString);
                      return remainingTimeString;
                    }
  
                    function updateTimer() {
                      document.getElementById("timeLeft").innerHTML = timeLeft(order.total_time, order.elapsed_time);
                    }
                    updateTimer(); // update the timer immediately
                    setInterval(updateTimer(), 1000); // update the timer every second
  
                    function progress(total, elapsed) {
                      statement = (total / elapsed) * 100;
                      return statement;
                    }
  
                  
                  </script>
                {% endif %}
              {% endfor %}
            </table>
          {% else %}
            <p>No Records<p>
          {% endif %}

      </div>

      <div class="row">
        <p>
          <a href="{%url 'advertisements'%}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">View Data</a>
          <a href="http://127.0.0.1:8000/admin/" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">To Admin Site</a>
        </p>
      </div>

    </div>

</body> 

<script>
  function convertToMin(time) {
     {% comment %} timeMs = time.getTime();
     remainingTimeSeconds = Math.floor(timeMs/ 1000);
     remainingDays = Math.floor(remainingTimeSeconds / (24 * 60 * 60));
     remainingHours = Math.floor((remainingTimeSeconds % (24 * 60 * 60)) / (60 * 60));
     remainingMinutes = Math.floor((remainingTimeSeconds % (60 * 60)) / 60);
     remainingSeconds = Math.floor(remainingTimeSeconds % 60); {% endcomment %}
    document.getElementById("timeLeft").innerHTML =  "hello";//remainingMinutes + ":" + remainingSeconds;
  }


  function getProgressPercentage(startTime, endTime) {
    const totalTimeMs = endTime.getTime() - startTime.getTime();
    const elapsedTimeMs = new Date().getTime() - startTime.getTime();
    return Math.floor((elapsedTimeMs / totalTimeMs) * 100);
  }

  function updateTimeElapsed(time) {
    return time.getTime() + 1000;
  }
</script>
</html>

